    
<!--
Required:
    title or fullTitle
Optional
    description
    keywords
    author
    coverImage
    coverVideo
    canonical
-->

{% if fullTitle == undefined or fullTitle == null %}
{%- capture fullTitle %}{{ title }} | {{ site.name }}{% endcapture %}
{% endif %}
    <title>{{ fullTitle | trimString: 65 }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta charset="UTF-8" />
    <meta name="description" content="{{ description | default: site.description | trimString: 155 }}" />
    <meta name="keywords" content="{{ keywords | default: site.keywords }}" />
    <meta name="author" content="{{ author | default: site.author }}" />
    
    <!-- openGraph -->
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:title" content="{{ fullTitle | trimString: 35 }}" />
    <meta property="og:url" content="{{ site.canonicalBase }}{{ page.url }}" />
    <meta property="og:description" content="{{ description | default: site.description | trimString: 65 }}" />
    <meta property="og:image" content="{{ coverImage | default: site.coverImage }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:alt" content="{{ fullTitle | trimString: 65}}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
{%- if coverVideo %}
    <meta property="og:video" content="{{ coverVideo }}" />
    <meta property="og:video:height" content="{{ coverVideoHeight }}" />
    <meta property="og:video:width" content="{{ coverVideoWidth }}" />
{% endif %}

{%- capture unchachedFavicon %}{{ site.favicon }}?cache={{ "now" | date: "%Y%m%d%H%M" }}{% endcapture %}
    <link rel="shortcut icon" href="{{unchachedFavicon}}"  type="image/svg+xml" sizes="any" />
    <link rel="mask-icon" href="{{ unchachedFavicon }}" color="#000000" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="apple-touch-icon" href="{{unchachedFavicon}}" />

{%- if canonical %}
    <link rel="canonical" href="{{ canonical }}"/>
{% else %}
<link rel="canonical" href="{{ site.canonicalBase }}{{ page.url }}"/>
{% endif %}
    <link rel="preload" href="/css/fonts/lmroman10-regular-webfont.woff2" as="font" type="font/woff2" />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="/css/components/header.css" />