---
layout: indexpage.liquid
title: rgon.es
subTitle: Gonzalo Ruiz
---

{% for filename in images %}
<li><a href="img/{{ filename | url_encode }}">{{ filename }}</a> {{ filename | filesize }}</li>
{% endfor %}

<ul class="postList">
{% for post in collections.posts %}
<li><a href="{{ post.url }}">
  <h3>{{ post.data.pageTitle }}</h3>
  <em>- {{ post.date | date: "%Y-%m-%d" }}</em></a>
</li>
{% endfor %}
</ul>