---
layout: indexpage.liquid
title: rgon.es
images:
  - stallman1.jpg
  - stallman2.jpg
  - stallman3.jpg
---

<!--
{% for filename in images %}
<li><a href="img/{{ filename | url_encode }}">{{ filename }}</a> {{ filename | filesize }}</li>
{% endfor %}--

{% for post in collections.posts %}
    <h2><a href="{{ post.url }}">{{ post.data.pageTitle }}</a></h2>
    <em>{{ post.date | date: "%Y-%m-%d" }}</em>
{% endfor %}
</ul>
</body>
</html>
